
#choropleth_map {
	top:0px;
	bottom: 0px; 
	left: 0px;
	right: 0px;
	/*height: 1000px;
	width: 800px;*/
}

h1 {
	font-size: 3em; /* 30px/16=1.875em */
  }
  h2 {
	font-size: 2em; /* 30px/16=1.875em */
  }
  h3 {
	font-size: 1em; /* 30px/16=1.875em */
  }

.vis-container {
    width: 100%;
}

.pure-g {
    margin-bottom: 25px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.page {
    width: 750px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}




